*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mycard{
  min-height: 22rem !important;
}
.myimgcara{
  width: 70%;
  height: 22rem;
}

@media only screen and (max-width: 766px){
  .myimgcara{
    height: 15rem;
  }
}